<h1>{{message}}</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
<h2>Вам написав повідомлення: {{user}}</h2>
<h2>Емаіл для зворотнього зв'язку: {{email}}</h2>